<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231449286183-3fsja06n1vla7i549ejdji8mif698hur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231449286183-3fsja06n1vla7i549ejdji8mif698hur</string>
	<key>API_KEY</key>
	<string>AIzaSyDP8geyWJmCWpQM53v1spMDilG7PIkkZoc</string>
	<key>GCM_SENDER_ID</key>
	<string>231449286183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jupiterdx.jupiter-mobile</string>
	<key>PROJECT_ID</key>
	<string>jupiterdx-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>jupiterdx-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231449286183:ios:5227a04ce30e5101926002</string>
</dict>
</plist>