PORT=3000

TERRA_DEV_ID=''
TERRA_API_KEY=''
TERRA_SIGNING_SECRET=''
FIREBASE_PRIVATE_KEY=''

NOTION_API_KEY=''
NOTION_DATABASE_ID=''
CIO_API_KEY_1=''

OPENAI_SECRET_KEY=''
OPENAI_ORGANIZATION_ID=''

PUBLIC_ACCESS_TOKEN_KEY=''
PRIVATE_ACCESS_TOKEN_KEY=''
PUBLIC_REFRESH_TOKEN_KEY=''
PRIVATE_REFRESH_TOKEN_KEY=''
PUBLIC_PASSWORD_RESET_TOKEN_KEY=''
PRIVATE_PASSWORD_RESET_TOKEN_KEY=''
